@font-face {
    font-family: aioli;
    src: url(font/HelveticaNeueLTStd-LtCn.otf);
}

@font-face {
    font-family: tarragon;
    src: url(font/HelveticaNeueLTStd-Bd.otf);
}

* {

    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: scroll;

}

@media only screen and (min-width: 320px) and (max-width: 667px) {

    body {

        background-image: url(images/logo/bcgnwvsn.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        margin: auto;
        display: grid;
        max-width: 667px;
        overflow: scroll;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "navi"
            "main"
            "footer";

    }

    a {
        text-decoration: none;
        color: #707070;

    }


    header {
        grid-area: header;
        text-align: center;
        width: 100%;
    }


    .navigation {

        color: white;
        display: inline-grid;
        justify-content: space-between;
        align-items: center;
        background-color: #EA5045;
        margin: 0 auto;
        width: 100%;
        height: 100px;
        font-size: 24px;
        position: relative;

    }


    .logo {
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: tarragon;
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 18px;
    }

    .studylogo {

        margin-left: 20px;
    }

    .container {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 85%;
        transform: translate(-50%, -50%);

    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }


#dropdown {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);

}

.dropdown-content {
    display: none;
    position: absolute;
    top: 90%;
    left: 67%;
    background-color: #EA5045;
    overflow: auto;
    margin: auto;
    font-family: aioli;
    text-align: center;
    animation-name: fadeInRight;
    animation-duration: 1s;
}

.dropdown-content a {
    color: white;
    float: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    

}

.dropdown a:hover {
    background-color: #ddd;
}

.show {

    display: block;

}


 @-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;

}

.navi {
    grid-area: navi;
    font-family: aioli;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    overflow: hidden;

}

li {
    display: inline;
    width: 10px;
    font-family: aioli;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}


li a {
    display: inline;
    width: 10px;
    font-family: aioli;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}



.active {
    text-decoration: underline;

}


main {
    grid-area: main;
    margin: auto;
    align-content: center;

}


form {

    margin: auto;
    font-family: tarragon;

}

#semesterinfomenu {

    margin: auto;
    width: 100%;
    height: auto;
}


.offerbutton {

    background-color: white;
    font-size: 22px;
    border-radius: 20px;
    border: none;
    width: 310px;
    height: 46px;
    margin-top: 10px;
    text-align: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.footer {
    align-content: center;
    margin: auto;
}

.backbutton {

    grid-area: footer;
    position: relative;
    top: 100px;
    width: 319px;
    height: 46px;
    border-radius: 220px;
    border: 0px;
    background-color: white;
    color: #707070;
    opacity: 0.80;
    font-family: tarragon;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;

}

.backbutton a {
    color: #707070;

}


}


@media screen and (min-width: 668px) {

    body {

        background-image: url(images/logo/bcgnwvsn.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        margin: auto;
        display: grid;

        overflow: scroll;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "navi"
            "main"
            "footer";

    }

    a {
        text-decoration: none;
        color: #707070;

    }


    header {
        grid-area: header;
        text-align: center;
        width: 100%;
    }


    .navigation {

        color: white;
        display: inline-grid;
        justify-content: space-between;
        align-items: center;
        background-color: #EA5045;
        margin: 0 auto;
        width: 100%;
        height: 100px;
        font-size: 24px;
        position: relative;

    }


    .logo {
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: tarragon;
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 18px;
    }

    .studylogo {

        margin-left: 20px;
    }
    
      .container {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 85%;
        transform: translate(-50%, -50%);

    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }


#dropdown {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);

}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 87%;
    background-color: #EA5045;
    overflow: auto;
    margin: auto;
    font-family: aioli;
    text-align: center;
    animation-name: slideInDown;
    animation-duration: 1s;
}

.dropdown-content a {
    color: white;
    float: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    

}

.dropdown a:hover {
    background-color: #ddd;
}

.show {

    display: block;

}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

   


    ul {
        list-style-type: none;
        margin: auto;
        padding: auto;

    }

    .navi {
        grid-area: navi;
        font-family: aioli;
        color: white;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
        position: relative;

    }

    li {
        display: inline;
        width: 10px;
        font-family: aioli;
        color: white;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
    }


    li a {
        display: inline;
        width: 10px;
        font-family: aioli;
        color: white;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
    }



    .active {
        text-decoration: underline;

    }


    main {
        grid-area: main;
        margin: auto;
        align-content: center;

    }


    form {

        margin: auto;
        font-family: tarragon;

    }

    #semesterinfomenu {

        margin: auto;
        width: 100%;
        height: auto;
    }


    .offerbutton {

        background-color: white;
        font-size: 22px;
        border-radius: 20px;
        border: none;
        width: 310px;
        height: 46px;
        margin-top: 10px;
        text-align: center;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .footer {
        align-content: center;
        margin: auto;
    }

    .backbutton {

        grid-area: footer;
        position: relative;
        top: 100px;
        width: 319px;
        height: 46px;
        border-radius: 220px;
        border: 0px;
        background-color: white;
        color: #707070;
        opacity: 0.80;
        font-family: tarragon;
        font-size: 24px;
        text-align: center;
        display: inline-block;
        margin-bottom: 20px;

    }

    .backbutton a {
        color: #707070;

    }

}
